---
title: AWS Service Broker for VMware Tanzu
owner:
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
The PRODUCT-NAME for VMware Tanzu tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a VMware Tanzu production environment.
</p>

**This topic begins with a brief description of what the product tile (e.g. Apigee Edge Service Broker for VMware Tanzu) does,
whereas the Overview section below describes what the service itself (e.g. Apigee Edge) does. See below for an example.**

This documentation describes the Apigee Edge Service Broker for VMware Tanzu. The Apigee Edge Service
Broker for VMware Tanzu enables developers to manage APIs for their VMware Tanzu apps through the Apigee Edge management console.

**Note**: This description appears under **OVERVIEW** in the tile's listing on
[Pivotal Network](http://network.pivotal.io).

## <a id='overview'></a>Overview

The AWS Service Broker for VMware Tanzu allows native AWS services to be exposed directly through application platforms that implement the Open Service Broker API, and provides simple integration of AWS Services directly within the application platform.

## <a id='features'></a>Key Features

AWS Service Broker for VMware Tanzu includes the following key features:

* 26 AWS Services Available
* Customizable Templates
* Multi-account provisioning



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 31, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>N/A</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.9, 2.8, 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, and 2.1</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service version(s)</td>
        <td>2.9, 2.8, 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, and 2.1</td>
    </tr>
        <tr>
        <td>Compatible Tanzu Application Service for Windows version(s)</td>
        <td>N/A</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>N/A</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

**Provide any general or specific requirements, prerequisites, or dependencies here.
A general requirement might be something like, "An AppDynamics account."
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**

AWS Service Broker for VMware Tanzu has the following requirements:

+ An foundation running in AWS.

## <a id="limitations"></a>Limitations

**List any known limitations.**

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, send an email to YOUR-SUPPORT-EMAIL.

## <a id='license'></a>License

**List any license information here.**
