---
title: AWS Service Broker for VMware Tanzu
owner:
---

<strong><%= modified_date %></strong>

This documentation describes the AWS Service Broker for VMware Tanzu. The AWS Service Broker for VMware Tanzu enables developers to create, provision, and bind 26 AWS native services for use with their apps.

## <a id='overview'></a>Overview

The AWS Service Broker for VMware Tanzu allows native AWS services to be exposed directly through application platforms that implement the Open Service Broker API, and provides integration of AWS Services directly within the application platform.

## <a id='features'></a>Key Features

AWS Service Broker for VMware Tanzu includes the following key features:

* 26 AWS Services Available
* Customizable Templates
* Multi-account provisioning



## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about AWS Service Broker for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 15, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>N/A</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.6.x, 2.7.x, 2.8.x, 2.9.x</td>
    </tr>
    <tr>
        <td>Compatible Tanzu Application Service version(s)</td>
        <td>2.6.x, 2.7.x, 2.8.x, 2.9.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 621.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

AWS Service Broker for VMware Tanzu has the following requirements:

+ A foundation running Tanzu Application Service for VMs.
+ An AWS account to create services in.


## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, raise an issue on GitHub at the following location: https://github.com/awslabs/aws-servicebroker/issues.
